@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 400;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 1rem;

  @media (min-width: 992px) {
    padding: 3rem;
  }

  &__title {
    padding: 10px;
    font-size: 36px;
    font-weight: bold;
    border: 2px solid;
    max-width: 600px;
    width: 600px;
    text-align: center;
  }
}

.main-wrapper {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-direction: column-reverse;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}
