.pokemon-item {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 30px 10px;
  border: 2px solid;
  width: 250px;
  flex-grow: 1;
  align-items: center;

  &__image {
    width: 200px;
    margin-bottom: 20px;
  }

  &__name {
    font-size: 20px;
    font-weight: bold;
  }

  &__types {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;

    .pokemon-type {
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}
